openapi: 3.1.0
info:
  title: Chat API
  version: 0.1.0
  description: Slack-like communication application API
servers:
  - url: http://localhost:8080
    description: Local development server

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  schemas:
    $ref: "./components/schemas.yaml#/schemas"

paths:
  $ref: "./paths.yaml#/paths"
